# Ambiente virtual
venv/
.venv/
env/

# Dataset (dados protegidos pelo PhysioNet)
dataset/

# Streamlit
.streamlit/secrets.toml

# Python
__pycache__/
*.py[cod]
.pytest_cache/

# IDEs
.vscode/
.idea/

# Sistema
.DS_Store
Thumbs.db